In [10]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\lenovo\appdata\roaming\python\python37\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from scikit-learn) (1.21.6)

WARNING: You are using pip version 20.1.1; however, version 24.0 is available.
You should consider upgrading via the 'c:\program files\python37\python.exe -m pip install --upgrade pip' command.

In [15]:
import sys
print(sys.executable)

C:\Users\lenovo\AppData\Local\Programs\Python\Python313\python.exe

In [11]:
# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'LinearRegression' is not defined

In [16]:
from sklearn.linear_model import LinearRegression

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

ModuleNotFoundError: No module named 'sklearn'

In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'sklearn'

In [13]:
# Load the dataset
df = pd.read_csv("train_and_test2.csv")
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [17]:
# Drop columns with 'zero' or 'Unnamed' in the name as they are likely placeholders
df_clean = df.drop(columns=[col for col in df.columns if 'zero' in col or 'Unnamed' in col])

# Drop rows with missing values
df_clean = df_clean.dropna()

# Show the cleaned data
df_clean.head()

   Passengerid   Age     Fare  Sex  sibsp  Parch  Pclass  Embarked  2urvived
0            1  22.0   7.2500    0      1      0       3       2.0         0
1            2  38.0  71.2833    1      1      0       1       0.0         1
2            3  26.0   7.9250    1      0      0       3       2.0         1
3            4  35.0  53.1000    1      1      0       1       2.0         1
4            5  35.0   8.0500    0      0      0       3       2.0         0

In [18]:
# Features (X) and Target (y)
X = df_clean.drop(columns=['2urvived', 'Passengerid'])  # Exclude target and ID
y = df_clean['2urvived']

In [19]:
# Split dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'train_test_split' is not defined

In [20]:
# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'LinearRegression' is not defined

In [21]:
# Predict on test data
y_pred = model.predict(X_test)

NameError: name 'model' is not defined